In [4]:
import numpy 
import pandas as pd
import matplotlib

In [5]:
lady = pd.read_csv('Furniture.csv')
lady.head(10)

,price,cost,sales,profit_margin,inventory,discount_percentage,delivery_days,category,material,color,location,season,store_type,brand,revenue
0,218.543053,181.610932,40,16.899243,105,27.796433,9,Bed,Plastic,Red,Rural,Spring,Online,BrandA,3949.165238
1,477.821438,385.033827,7,19.418888,192,26.943715,6,Chair,Glass,Blue,Rural,Summer,Online,BrandD,-3521.002258
2,379.397274,276.736765,32,27.058842,59,21.948130,2,Table,Metal,Black,Suburban,Fall,Online,BrandD,14285.560219
3,319.396318,281.841334,48,11.758114,45,11.009944,2,Table,Glass,Green,Rural,Summer,Retail,BrandD,12261.073703
4,120.208388,69.743681,19,41.981019,35,3.183763,9,Chair,Glass,Brown,Rural,Fall,Online,BrandD,-4588.255733
5,120.197534,65.352083,6,45.629432,185,20.659352,8,Table,Plastic,Brown,Urban,Fall,Retail,BrandB,9136.301617
6,76.137625,64.076267,20,15.841521,165,29.359622,9,Sofa,Glass,Green,Suburban,Summer,Online,BrandA,4128.412805
7,439.779266,297.141226,27,32.434007,10,21.798133,4,Sofa,Wood,White,Urban,Winter,Retail,BrandC,9516.966398
8,320.501755,268.832879,43,16.121246,11,27.861881,4,Bed,Fabric,Brown,Suburban,Spring,Retail,BrandD,8882.539029
9,368.632660,316.005217,37,14.276392,169,24.129141,2,Sofa,Fabric,Black,Urban,Spring,Retail,BrandD,8946.637741

In [6]:
lady.describe()

,price,cost,sales,profit_margin,inventory,discount_percentage,delivery_days,revenue
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.00000,2500.000000
mean,274.495219,191.930107,24.924000,30.208571,97.715600,14.947616,4.89400,5926.853657
std,130.898452,98.590751,14.050067,11.536804,57.616228,8.621547,2.55902,6902.737604
min,50.704297,26.505895,1.000000,10.017692,0.000000,0.005556,1.00000,-14214.565505
25%,159.104890,106.399135,13.000000,20.230697,50.000000,7.760214,3.00000,1216.719195
50%,277.641809,189.336329,25.000000,30.297911,94.000000,14.915143,5.00000,5523.232714
75%,387.378046,263.188280,37.000000,40.134205,147.000000,22.292661,7.00000,10233.537982
max,499.872953,447.022911,49.000000,49.999535,199.000000,29.991229,9.00000,32922.078832